<!--The content below is only a placeholder and can be replaced.-->
  <br>
  <br>
  ici c'est l'application 2 : c'est une application angular
  <div>
    <li>
      <a routerLink="/app1">
        lien qui redirige vers l'application 1 sur la route /
      </a>
    </li>
  </div>
  <br>
  réception des données envoyées par le header (clic sur le bouton, par exemple un token jwt) : <strong>{{fakeToken}}</strong>
  <br>
  <br>
  ici c'est la fin de l'application 2

  <router-outlet></router-outlet>
